/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@font-face {
    font-family: water-lily;
    src: url(assets/fonts/Waterlily_Script.otf) format("opentype");
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
