<section class="sticky-bar">
<section class="logo" id="_logo">
  <app-svg-logo></app-svg-logo>
</section>
<header class="header-bar">
  <nav #navBar>
    <div 
      *ngFor = "let navItem of navItems; let i = index" 
      class="{{navItem.active ? 'active': ''}}"
      (click) = "toggleMenuBarItem(i, navItem)">
      {{navItem.header}}
    </div>
  </nav>
  <app-search-box></app-search-box>
</header>
</section>
<section class="banner">
<app-banner></app-banner>
</section>
<section class="blogs">
<app-blogs></app-blogs>
</section>
