.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.logo > span {
  font-family: "Pacifico", cursive;
  color: #707070;
  font-weight: bold;
  letter-spacing: 3px;
}
header {
  width: 100%;
  height: 60px;
  /* padding: 0px 10px; */
  /* background-color: hotpink; */
  /* background-color: #D6CE15; #B23850, 802BB1*/
  background-color: #0074e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

header nav div {
  letter-spacing: 2px;
  color: beige;
  font-weight: normal;
  cursor: pointer;
  padding: 20px 15px;
}

header nav div:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
header nav div:hover,
.active {
  background-color: rgba(0, 0, 0, 0.5);
}

app-search-box {
  margin-right: 10px;
}

.blogs app-blogs{
  display: flex;
  width: 100%;
  margin: 50px 100px 0px 100px;
  flex-flow: row wrap;
  justify-content: center;
}

.blogs {
  display: flex;
  justify-content: center;
}

/* sticky header */
.sticky-bar {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
}

.banner {
  margin-top: 162px;
}